.proyects_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0,111,116);
    background: linear-gradient(90deg, rgba(0,111,116,1) 0%, rgba(22,166,172,1) 36%, rgba(55,161,166,1) 81%, rgba(0,194,203,1) 100%);
    color: white;

    .title_proyect {
        font-size: 3rem;
        font-weight: 800;
        padding-top: 0.625rem;
        margin-bottom: 3.125rem;
    }

    
.container__background-triangle{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
}

.triangle1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #82eee1, #1e67c7);
    right: 100px;
    top: 50px;
    animation: t1 8s ease infinite;

}

.triangle2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #c9c4bd, #c7371e);
    top: 250px;
    right: 450px;
    animation: t2 9s ease infinite;
}

.triangle3{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #1b8fc5, #bd428e);
    left: 200px;
    animation: t3 7s ease infinite;
}

@keyframes t1 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

    
.container__cards{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.card{
    width: 21.875rem;
    margin: 0.625rem;
    padding: 1.25rem;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.9375rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform: scale(1.1);
}

.cover__card{
    width: 100%;
    height: 11.25rem;
    border-radius: 0.875rem;
    overflow: hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.25rem;
    color: #fff;
}

.card p{
    margin-top: 1.25rem;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 0.625rem;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 0.9375rem;
    font-weight: 500;
}

@media screen and (max-width:1200px) {
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}


}

@media (max-width:476px) {
    .proyects_container {
        .title_proyect {
            padding-top: 1.25rem;
            
        }
    
        .container__cards {
            margin-top: 1.875rem;
        }
}
}