grid-container > * {
    text-align: center;
}
.grid-container {
    display:grid;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(3,1fr) ;
    grid-auto-rows: auto;
    grid-template-areas: 
    "navbar   navbar  navbar"
    "portada  portada portada"
    "about    about   about"
    "skills   skills  skills"
    "proyect  proyect proyect"
    "footer   footer  footer";
}



@media (max-width:976px){
    .grid-container {
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: minmax(250px,1fr);
    grid-template: 
    "navbar  navbar"
    "portada portada"
    "about   about"
    "skills  skills"
    "proyect proyect"
    "footer  footer";
}

}

